## 파일 무시
nodejs-crawler/config/config.json
nodejs-crawler/.env
node 강의/ch 07 MySQL/node_mariadb_ex/.env

## 폴더 무시
nodejs-crawler-ori/
nodejs-crawler/node_modules/
VUE-ENDGAME/vue-til-server/
VUE-ENDGAME/vue-til/node_modules/
AGE-OF-VUE/learn-vue-js/
AGE-OF-VUE/vue-cli/node_modules/
AGE-OF-VUE/vue-form/node_modules/
FrontEnd Webpack/npm/node_modules/
FrontEnd Webpack/getting-started/node_modules/
FrontEnd Webpack/es6-modules/node_modules/
FrontEnd Webpack/code-splitting/node_modules/
FrontEnd Webpack/devserver/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-1 예제/learn-express/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-2 예제/learn-express/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-2 예제/learn-express/.env
node 강의/ch 06 익스프레스 웹 서버 만들기/6-3 예제/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-3 예제/.env
node 강의/ch 06 익스프레스 웹 서버 만들기/6-4 예제/learn-express/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-5 예제/learn-express/node_modules/
node 강의/ch 06 익스프레스 웹 서버 만들기/6-6 예제/learn-express/node_modules/
node 강의/ch 07 MySQL/learn-sequelize/node_modules/
node 강의/ch 07 MySQL/CRUD_example/node_modules/
node 강의/ch 07 MySQL/node_mariadb_ex/node_modules/
node 강의/ch 07 MySQL/vue_fronted/node_modules/
Docker 예제/docker/node_modules
React/my-app/node_modules/
React_book/basic-app/node_modules/
typescript/learn-typescript